In [ ]:
# Importação das bibliotecas necessárias
from pyspark.sql import SparkSession
from pyspark.sql.functions import upper
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql.functions import mean
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
# Initialize a Spark session
spark = SparkSession.builder \
    .appName("PySpark S3 Example") \
    .config("spark.jars", "aws-java-sdk-bundle-1.12.262.jar, hadoop-aws-3.3.4.jar") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.access.key", "AKIA4X7AMLEX37LGBTEQ") \
    .config("spark.hadoop.fs.s3a.secret.key", "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") \
    .config("spark.hadoop.fs.s3a.endpoint", "s3.amazonaws.com") \
    .getOrCreate()

# S3 bucket and file path
s3_bucket = "spark-s3-bucket-unisinos"
s3_file_path = f"s3a://{s3_bucket}/Cleaned_Students_Performance.csv"

# Read the CSV file from S3
df = spark.read.csv(s3_file_path, header=True, inferSchema=True)

# Show the data
print("Original Data:")
df.show()

Original Data:
+------+--------------+---------------------------+-----+-----------------------+----------+-------------+-------------+-----------+------------------+
|gender|race_ethnicity|parental_level_of_education|lunch|test_preparation_course|math_score|reading_score|writing_score|total_score|     average_score|
+------+--------------+---------------------------+-----+-----------------------+----------+-------------+-------------+-----------+------------------+
|     0|       group B|          bachelor's degree|    1|                      0|        72|           72|           74|        218| 72.66666666666667|
|     0|       group C|               some college|    1|                      1|        69|           90|           88|        247| 82.33333333333333|
|     0|       group B|            master's degree|    1|                      0|        90|           95|           93|        278| 92.66666666666667|
|     1|       group A|         associate's degree|    0|                      0|        47|           57|           44|        148|49.333333333333336|
|     1|       group C|               some college|    1|                      0|        76|           78|           75|        229| 76.33333333333333|
|     0|       group B|         associate's degree|    1|                      0|        71|           83|           78|        232| 77.33333333333333|
|     0|       group B|               some college|    1|                      1|        88|           95|           92|        275| 91.66666666666667|
|     1|       group B|               some college|    0|                      0|        40|           43|           39|        122|40.666666666666664|
|     1|       group D|                high school|    0|                      1|        64|           64|           67|        195|              65.0|
|     0|       group B|                high school|    0|                      0|        38|           60|           50|        148|49.333333333333336|
|     1|       group C|         associate's degree|    1|                      0|        58|           54|           52|        164|54.666666666666664|
|     1|       group D|         associate's degree|    1|                      0|        40|           52|           43|        135|              45.0|
|     0|       group B|                high school|    1|                      0|        65|           81|           73|        219|              73.0|
|     1|       group A|               some college|    1|                      1|        78|           72|           70|        220| 73.33333333333333|
|     0|       group A|            master's degree|    1|                      0|        50|           53|           58|        161|53.666666666666664|
|     0|       group C|           some high school|    1|                      0|        69|           75|           78|        222|              74.0|
|     1|       group C|                high school|    1|                      0|        88|           89|           86|        263| 87.66666666666667|
|     0|       group B|           some high school|    0|                      0|        18|           32|           28|         78|              26.0|
|     1|       group C|            master's degree|    0|                      1|        46|           42|           46|        134|44.666666666666664|
|     0|       group C|         associate's degree|    0|                      0|        54|           58|           61|        173|57.666666666666664|
+------+--------------+---------------------------+-----+-----------------------+----------+-------------+-------------+-----------+------------------+
only showing top 20 rows